<div class="jumbotron">
  <h1 class="display-4">
    ¡Bienvenido a mi proyecto final de la Diplomatura de Desarrollo Web de la
    Universidad Tecnológica Nacional!
  </h1>
  <p class="lead">
    Esto es una simple pagina de inicio para dar cohesión al proyecto.
  </p>
  <hr class="my-4" />
  <p>
    Tambien es posible revisar mi repositorio en GitHub para clonarlo o hacer
    una branch del proyecto.
  </p>
  <a
    class="btn btn-success btn-lg"
    href="https://github.com/juancdominici/"
    role="button"
    >Ver más</a
  >
</div>
