<div class="container-fluid w-75">
  <br />
  <h2 class="display-4">Modulo de Cocina</h2>
  <p class="lead">Administracion de pedidos.</p>
  <hr class="my-4" />
  <div class="row d-flex flex-wrap justify-content-around">
    <div
      class="col-xs-12 col-md-6 d-flex justify-content-center"
      *ngFor="let pedido of pedidos; let i = index"
    >
      <div
        class="card mb-4 text-white"
        style="width: 18rem"
        [ngClass]="{
          'bg-danger': pedido.estado === 'preparación',
          'bg-success': pedido.estado === 'retirar',
          'bg-primary': pedido.estado === 'entregado'
        }"
        (click)="handlePedido(i)"
      >
        <div class="card-body">
          <div class="d-flex justify-content-end">
            <ng-container *ngIf="pedido.estado === 'entregado'">
              <button
                type="button"
                class="btn btn-light btn-sm"
                (click)="removePedido(i)"
              >
                <i class="bi bi-x" style="font-size: 1.1rem"></i>
              </button>
            </ng-container>
          </div>
          <h5 class="card-title display-5">Mesa {{ pedido.mesa }}</h5>
          <h5 class="card-title display-5">Mozo: {{ pedido.mozo }}</h5>
          <p class="card-text lead">Estado: {{ pedido.estado | titlecase }}</p>
          <p class="card-text lead">Notas: {{ pedido.nota }}</p>
        </div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let item of pedido.productos"
        >
          <li
            class="list-group-item list-group-item-action"
            [ngClass]="{
              'list-group-item-danger': pedido.estado === 'preparación',
              'list-group-item-success': pedido.estado === 'retirar',
              'list-group-item-primary': pedido.estado === 'entregado'
            }"
          >
            {{ item.producto }} {{ item.cantidad }}u
          </li>
        </ul>
        <div class="card-body">
          <h5 class="display-8">Total: ${{ pedido.total }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
