<div class="container-fluid bg-light position-absolute bottom-0 end-0 mt-3">
  <p class="text-center text-muted mt-2">
    Creado por
    <a href="https://github.com/juancdominici/" target="_blank"
      ><span class="code">&lt;</span>Juan Cruz Dominici<span class="code"
        >&#47;&gt;</span
      ></a
    >
    para
    <a
      href="http://educacionadistancia.frc.utn.edu.ar/diploweb.html"
      target="_blank"
      ><span class="code">&lt;</span>Diplomatura de Desarrollo Web de la
      Universidad Tecnológica Nacional<span class="code">&#47;&gt;</span></a
    >
  </p>
</div>
